@keyframes hoverAnimation {
    from {background-color: white}
    to {background-color: #d3dfed}
  }

.ui.card.fluid.Content:hover {
    cursor: pointer;
    animation-name: hoverAnimation;
    animation-duration: 1s;
}
