.test {
    /* align-content: center;
    align-items: center;
    align-self: center; */
    /* width: 90%;
    align-self: center; */

    /* width: 90%; */
    /* width: 100%; */
    /* width: max-content; */
    /* height: auto; */

    /* height: 100%; */
    overflow: hidden;
}